# .gitlab-ci.yml
# CI pipeline for release-scholar

image: rust:latest

stages:
  - check
  - build
  - test

variables:
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"

cache:
  paths:
    - .cargo/
    - target/

format:
  stage: check
  script:
    - rustup component add rustfmt
    - cargo fmt --check

lint:
  stage: check
  script:
    - rustup component add clippy
    - cargo clippy -- -D warnings

build:
  stage: build
  script:
    - cargo build --release

test:
  stage: test
  script:
    - cargo test